*
!.gitignore
!.pip-list
!.pkexec-mask
!.pkexec-mask/**
!.sys-settings.sh
!.laptop.sh
!.desktop.sh
!.wallpapers.sh
!.packages
!.vimrc
!.etc-environment
!.config
!.config/sway
!.config/sway/**
!.config/waybar
!.config/waybar/**
!.config/fish
!.config/fish/**
!.config/btop
!.config/btop/**
!.config/waybar
!.config/waybar/**
!.config/foot
!.config/foot/**
!.config/dunst
!.config/dunst/**
!.config/qt5ct
!.config/qt5ct/**
!.gtkrc-2.0
!.config/gtk-3.0
!.config/gtk-3.0/**
!.config/neofetch
!.config/neofetch/**
!.config/Thunar
!.config/Thunar/**
!.config/mirage
!.config/mirage/accel_map
!.config/xfce4/xfconf/xfce-perchannel-xml/xsettings.xml
