*
!.gitignore
!.crontab
!.pip-list
!.pkexec-mask
!.pkexec-mask/**
!.sys-settings.sh
!.laptop.sh
!.desktop.sh
!.wallpapers.sh
!.packages
!.vimrc
!.etc-environment
!.local
!.local/share
!.local/share/applications
!.local/share/applications/discord.desktop
!.local/share/applications/zoom.desktop
!.local/share/applications/messenger.desktop
!.local/share/applications/gmail.desktop
!.local/share/applications/google_docs.desktop
!.local/share/applications/google_sheets.desktop
!.local/share/applications/google_slides.desktop
!.local/share/applications/instagram.desktop
!.local/share/icons
!.local/share/icons/discord.svg
!.local/share/icons/foxwq.png
!.local/share/icons/messenger.png
!.local/share/icons/minecraft.png
!.assets
!.assets/**
.assets/cache
!.config
!.config/scripts
!.config/scripts/**
.config/scripts/layouts/master_stack/__pycache__
.config/scripts/layouts/master_stack/*.log
!.config/electron-flags.conf
!.config/electron13-flags.conf
!.config/electron19-flags.conf
!.config/appimagelauncher.cfg
!.config/sway
!.config/sway/**
.config/sway/active_layout
.config/sway/display
!.config/waybar
!.config/waybar/**
!.config/fish
!.config/fish/**
!.config/btop
!.config/btop/**
!.config/ranger
!.config/ranger/**
.config/ranger/colorschemes/__pycache__
!.config/waybar
!.config/waybar/**
!.swaylock
!.swaylock/**
!.config/foot
!.config/foot/**
!.config/fuzzel
!.config/fuzzel/**
!.config/dunst
!.config/dunst/**
!.config/qt5ct
!.config/qt5ct/**
!.config/qt6ct
!.config/qt6ct/**
!.gtkrc-2.0
!.config/gtk-3.0
!.config/gtk-3.0/**
!.config/neofetch
!.config/neofetch/**
!.config/xfce4/xfconf/xfce-perchannel-xml/xsettings.xml
!.vim
!.vim/**
!.config/rtsp-simple-server
!.config/rtsp-simple-server/**
!.local
!.local/share
!.local/share/Steam
!.local/share/Steam/skins
!.local/share/Steam/skins/**
