* {
	background-image: none;
}
window {
	background-color: rgba(17, 17, 17, 0.8);
}
button {
    margin: 9px;
    color: #FFFFFF;
	background-color: #242424;
	border: 3px solid #333333;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
    border-radius: 10px;
}

button:hover {
	border: 3px solid #00FFFF;
    outline-style: none;
}

#lock {
    background-image: image(url("/home/christian/.config/wlogout/icons/lock.svg"), url("/home/christian/.config/wlogout/icons/lock.svg"));
}

#shutdown {
    background-image: image(url("/home/christian/.config/wlogout/icons/shutdown.svg"), url("/home/christian/.config/wlogout/icons/shutdown.svg"));
}

#reboot {
    background-image: image(url("/home/christian/.config/wlogout/icons/reboot.svg"), url("/home/christian/.config/wlogout/icons/reboot.svg"));
}
