[Desktop Entry]
Name=ChatGPT
StartupWMClass=chatgpt
Comment=ChatGPT
Exec=google-chrome-stable --new-window --enable-extensions --enable-features=WebRTCPipeWireCapturer --app="https://chat.openai.com/"
Icon=/home/christian/.local/share/icons/chatgpt.svg
Type=Application
Categories=Network;InstantMessaging;
Path=/usr/bin
