[Desktop Entry]
Name=Discord (web)
StartupWMClass=discord
Comment=Discord
Exec=google-chrome-stable --new-window --enable-extensions --enable-features=WebRTCPipeWireCapturer --app="https://www.discord.com/login/"
GenericName=Discord
Icon=discord
Type=Application
Categories=Network;InstantMessaging;
Path=/usr/bin
