[Desktop Entry]
Name=Gmail
StartupWMClass=gmail
Comment=gmail
GenericName=Email Client
Exec=google-chrome-stable --new-window --enable-features=WebRTCPipeWireCapturer --app="https://mail.google.com/mail/"
Icon=gmail
Type=Application
Categories=Network;InstantMessaging;
Path=/usr/bin
