[Desktop Entry]
Name=Zoom
StartupWMClass=zoom
Comment=Zoom video calling.
Exec=google-chrome-stable --new-window --enable-extensions --enable-features=WebRTCPipeWireCapturer --app="https://zoom.us/meeting#/upcoming"
Icon=Zoom
Type=Application
Categories=Network;InstantMessaging;
Path=/usr/bin
